{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Kararsızım{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/tokens.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
</head>
<body>
    {% include "partials/header.html" %}
    {% include "partials/toast.html" %}
    {% block content %}{% endblock %}
</body>
</html>
